.comoetition-card {
    box-shadow: 4px 4px 9px 5px rgb(0 0 0 / 0.05);
}
.comoetition-card:hover {
    box-shadow: 7px 8px 12px 7px rgb(0 0 1 / 0.08);

}

 p {
    font-family: 'Poppins';
    letter-spacing: 1px;
}
.all-comp {
    bottom: 70%;
}
